*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abv-header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    background-color: #F2AA4CFF;
    color: black;
    justify-content: center;
}
.abv-header-iconLinks
{
    margin: 2px 100px;
}
#fb-abv-hdr
{
    color: #4267B2;
    margin: 0px 5px;
}
#yt-abv-hdr
{
    color: rgba(255, 0, 0, 0.89);
    margin: 0px 5px;
}
#tw-abv-hdr
{
    color: #1DA1F2;
    margin: 0px 5px;
}
.abv-header-cont
{
    margin: 2px 150px;
}
#navbar
{
    height: 60px;
    font-size: 24px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
} 
.image-logo img
{
    position: absolute;
    left: 10px;
    top:-3px;
}

#navList
{
    height: 100%;
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#navList li a{
    padding:10px 30px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 22px;
    color: white;
    transition: all .5s ease;
}
#navList li a:hover 
{
    background-color:#F2AA4CFF;
    color: black;
}

footer
{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow:0 0 15px black;
    background-color: #F2AA4CFF;
    color: black;
    font-size: 18px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.footer-navigation ul li a
{
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
    transition: all 0.5s ease;
}
.footer-navigation ul li a:hover{
    transform: scale(1.04);
    color: whitesmoke;
}
.footer-navigation ul li
{
    list-style:none;
}
.copy-footer
{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
}

#navbar .fas
{
    padding: 15px;
    position: absolute;
    right: 10px;
}

.fa-times
{
    display: none;
}

#navbar .fas{
    display: none;
}

@media screen and (max-width:1140px)
{
    #map
    {
        display: none;
    }

    #navbar .fa-times{
        display: block;
        text-align: center;
        /* position: absolute; */
        /* top: 20px; */
        /* right: 47%; */
    }

    #navbar .fa-bars{
        display: block;
    }

    #navList 
    {
        display:none;
        flex-direction: column;
        text-align: center;
        background-color: black;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 99;
        height: 63vw;
        right: -100%;
        transition: all .5s ease;
        width: 100%;
    }
    
    #navList li{
        padding: 12px 10px;
        font-size: 2rem;
    }
}

@media screen and (max-width:600px)
{
    #navList li
    {
        font-size: 1.5rem;
        padding: 8px 6px;
    }
    #navList 
    {
        height: 75vw;
    }
    .abv-header-cont
    {
        display: none;
    }
    .abv-header-phone
    {
        text-align: center;
    }
}

/* Section */


.contactSection{
    display: flex;
    min-height: 100vh;
    padding: 20px 40px;
    background: url('../Photos/Contact/ContactImage.jpg') center center/cover no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactSection .contact{
    max-width: 800px;
    text-align: center;
}

.contactSection .contact h3{
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    min-width: 38%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .infoBox{
    position: relative;
    display: flex;
    padding: 20px 0;
}

.container .contactInfo .infoBox .icon{
    min-width: 60px;
    height: 60px;
    color: rgb(22, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    background-color: rgb(207, 195, 195);
    cursor: pointer;
}

.container .contactInfo .infoBox .icon:hover{
    color: black;
    background-color: white;
}

.container .contactInfo .infoBox .text
{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
}

.container .contactInfo .infoBox .text h3{
    font-weight: 500;
    color: #F2AA4CFF
}

.contactForm
{
    width: 50%;
    padding: 40px;
    background: transparent;
    color: white;
    margin-right: 60px;
}

.contactForm h2{
    font-weight: 500;
    font-size: 2rem;
}

.contactForm .inputBox{
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    color: white;
    outline: none;
    background: transparent;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid white;
    font-size: 16px;
    margin: 18px 0;
    resize: none;
}

::placeholder{
    color: white;
}

.contactForm .inputBox input[type = "submit"]
{
    width: 50%;
    color: white;
    border: 2px solid white;
    background: rgb(28, 104, 114);
    cursor: pointer;
}

.contactForm .inputBox input[type = "submit"]:hover{
    background: rgb(29, 149, 165);
}
.contact p
{
    font-size: 20px;
}
.mobileMap
{
    display:none;
}


@media (max-width: 900px){
    .contactSection{
        padding: 0 20px;
    }

    .container{
        flex-direction: column;
    }

    .contactSection .contact h3{
        font-size: 28px;
    }

    .container .contactInfo .infoBox .text{
        font-size: 14px;
        margin-left: 14px;
    }

    .container .contactInfo .infoBox .icon{
        min-width: 40px;
        height: 40px;
    }

    .contact p{
        font-size: 13px;
    }

    .contactForm h2{
        font-size: 1.6rem;
    }

    .contactForm{
        width: 80%;
        margin-right: 20px;
    }

    .contactInfo{
        width: 70%;
    }
}
@media screen and (max-width:1140px)
{
    .mobileMap
    {
        display: block;
    }
}