*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body
{
    max-width: 100vw;
}
.abv-header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    background-color: #F2AA4CFF;
    color: black;
    justify-content: center;
}
.abv-header-iconLinks
{
    margin: 2px 100px;
}
#fb-abv-hdr
{
    color: #4267B2;
    margin: 0px 5px;
}
#yt-abv-hdr
{
    color: rgba(255, 0, 0, 0.89);
    margin: 0px 5px;
}
#tw-abv-hdr
{
    color: #1DA1F2;
    margin: 0px 5px;
}
.abv-header-cont
{
    margin: 2px 150px;
}
#navbar
{
    height: 60px;
    font-size: 24px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
} 
.image-logo img
{
    position: absolute;
    left: 10px;
    top:-3px;
}

#navList
{
    height: 100%;
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#navList li a{
    padding:10px 30px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 22px;
    color: white;
    transition: all .5s ease;
}
#navList li a:hover 
{
    background-color:#F2AA4CFF;
    color: black;
}

footer
{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow:0 0 15px black;
    background-color: #F2AA4CFF;
    color: black;
    font-size: 18px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.footer-navigation ul li a
{
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
    transition: all 0.5s ease;
}
.footer-navigation ul li a:hover{
    transform: scale(1.04);
    color: whitesmoke;
}
.footer-navigation ul li
{
    list-style:none;
}
.copy-footer
{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
}

#navbar .fas
{
    padding: 15px;
    position: absolute;
    right: 10px;
}

.fa-times
{
    display: none;
}

#navbar .fas{
    display: none;
}

@media screen and (max-width:1140px)
{
    #map
    {
        display: none;
    }

    #navbar .fa-times{
        display: block;
        text-align: center;
        /* position: absolute; */
        /* top: 20px; */
        /* right: 47%; */
    }

    #navbar .fa-bars{
        display: block;
    }

    #navList 
    {
        display:none;
        flex-direction: column;
        text-align: center;
        background-color: black;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 99;
        height: 63vw;
        right: -100%;
        transition: all .5s ease;
        width: 100%;
    }
    
    #navList li{
        padding: 12px 10px;
        font-size: 2rem;
    }
}

@media screen and (max-width:600px)
{
    #navList li
    {
        font-size: 1.5rem;
        padding: 8px 6px;
    }
    #navList 
    {
        height: 75vw;
    }
    .abv-header-cont
    {
        display: none;
    }
    .abv-header-phone
    {
        text-align: center;
    }
}

/* For gallary
 */

 #galHeader{
    margin-top: 50px;
    text-align: center;
    font-size: 4em;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cards{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    max-width: 1140px;
    gap: 35px;
    place-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card{
    box-shadow: 1px 1px 10px black;
    max-width: 300px;
    line-height: 1.5;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease;
    /* height: 400px; */
}

.card:hover{
    transform: scale(1.04);
    background-color: #F2AA4CFF;
    box-shadow: 5px 5px 15px black;
}
.card:hover .showMore
{
    transition: all .5s ease;
    background-color: black;
    color: white;
}

.cardContent > p:first-of-type{
    margin-top: 2px;
}

.cardContent p{
    text-align: center;
}

.cardImage{
    width: 100%;
}


.cardContent{
    margin: 4px 8px;
}

.cardImage img{
    width: 100%;
    height: 170px;
}

.showMore{
    text-align: center;
    background-color: #F2AA4CFF;
    color: rgb(43, 34, 34);
    padding: 6px 0;
    cursor: pointer;
    font-size: 18px;
}