*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abv-header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    background-color: #F2AA4CFF;
    color: black;
    justify-content: center;
}
.abv-header-iconLinks
{
    margin: 2px 100px;
}
#fb-abv-hdr
{
    color: #4267B2;
    margin: 0px 5px;
}
#yt-abv-hdr
{
    color: rgba(255, 0, 0, 0.89);
    margin: 0px 5px;
}
#tw-abv-hdr
{
    color: #1DA1F2;
    margin: 0px 5px;
}
.abv-header-cont
{
    margin: 2px 150px;
}
#navbar
{
    height: 60px;
    font-size: 24px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
} 
.image-logo img
{
    position: absolute;
    left: 10px;
    top:-3px;
}

#navList
{
    height: 100%;
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#navList li a{
    padding:10px 30px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 22px;
    color: white;
    transition: all .5s ease;
}
#navList li a:hover 
{
    background-color:#F2AA4CFF;
    color: black;
}

footer
{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow:0 0 15px black;
    background-color: #F2AA4CFF;
    color: black;
    font-size: 18px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.footer-navigation ul li a
{
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
    transition: all 0.5s ease;
}
.footer-navigation ul li a:hover{
    transform: scale(1.04);
    color: whitesmoke;
}
.footer-navigation ul li
{
    list-style:none;
}
.copy-footer
{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
}

#navbar .fas
{
    padding: 15px;
    position: absolute;
    right: 10px;
}

.fa-times
{
    display: none;
}

#navbar .fas{
    display: none;
}

@media screen and (max-width:1140px)
{
    #map
    {
        display: none;
    }

    #navbar .fa-times{
        display: block;
        text-align: center;
        /* position: absolute; */
        /* top: 20px; */
        /* right: 47%; */
    }

    #navbar .fa-bars{
        display: block;
    }

    #navList 
    {
        display:none;
        flex-direction: column;
        text-align: center;
        background-color: black;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 99;
        height: 63vw;
        right: -100%;
        transition: all .5s ease;
        width: 100%;
    }
    
    #navList li{
        padding: 12px 10px;
        font-size: 2rem;
    }
}

@media screen and (max-width:600px)
{
    #navList li
    {
        font-size: 1.5rem;
        padding: 8px 6px;
    }
    #navList 
    {
        height: 75vw;
    }
    .abv-header-cont
    {
        display: none;
    }
    .abv-header-phone
    {
        text-align: center;
    }
}


/* Cards */
.cardsContainer
{
    margin: auto auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards
{
    border-radius: 12px;
    width: 250px;
    height: 300px;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 15px #F2AA4CFF;
}
.cards:hover
{
    transform: scale(1.04);
    background-color: #F2AA4CFF;
    color: black;
    box-shadow: 0 0 15px black;
}