*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abv-header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    background-color: #F2AA4CFF;
    color: black;
    justify-content: center;
}
.abv-header-iconLinks
{
    margin: 2px 100px;
}
#fb-abv-hdr
{
    color: #4267B2;
    margin: 0px 5px;
}
#yt-abv-hdr
{
    color: rgba(255, 0, 0, 0.89);
    margin: 0px 5px;
}
#tw-abv-hdr
{
    color: #1DA1F2;
    margin: 0px 5px;
}
.abv-header-cont
{
    margin: 2px 150px;
}
#navbar
{
    height: 60px;
    font-size: 24px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
} 
.image-logo img
{
    position: absolute;
    left: 10px;
    top:-3px;
}

#navList
{
    height: 100%;
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#navList li a{
    padding:10px 30px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 22px;
    color: white;
    transition: all .5s ease;
}
#navList li a:hover 
{
    background-color:#F2AA4CFF;
    color: black;
}

footer
{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow:0 0 15px black;
    background-color: #F2AA4CFF;
    color: black;
    font-size: 18px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.footer-navigation ul li a
{
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
    transition: all 0.5s ease;
}
.footer-navigation ul li a:hover{
    transform: scale(1.04);
    color: whitesmoke;
}
.footer-navigation ul li
{
    list-style:none;
}
.copy-footer
{
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
}

#navbar .fas
{
    padding: 15px;
    position: absolute;
    right: 10px;
}

.fa-times
{
    display: none;
}

#navbar .fas{
    display: none;
}

@media screen and (max-width:1140px)
{
    #map
    {
        display: none;
    }

    #navbar .fa-times{
        display: block;
        text-align: center;
        /* position: absolute; */
        /* top: 20px; */
        /* right: 47%; */
    }

    #navbar .fa-bars{
        display: block;
    }

    #navList 
    {
        display:none;
        flex-direction: column;
        text-align: center;
        background-color: black;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 99;
        height: 63vw;
        right: -100%;
        transition: all .5s ease;
        width: 100%;
    }
    
    #navList li{
        padding: 12px 10px;
        font-size: 2rem;
    }
}

@media screen and (max-width:600px)
{
    #navList li
    {
        font-size: 1.5rem;
        padding: 8px 6px;
    }
    #navList 
    {
        height: 75vw;
    }
    .abv-header-cont
    {
        display: none;
    }
    .abv-header-phone
    {
        text-align: center;
    }
}

/* For Valuation html */

#txt
{
    font-size: 24px;
    display: flex;
    background-color: rgb(242, 76, 76);
    color: black;
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.valuationSection
{
    width: 40%;
    border: 1px solid grey;
    margin: 100px auto 100px auto;
    height: 750px;
    position:relative;
}
.valuation-form form
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.valuation-form form input,
.valuation-form form textarea
{
    background-color: rgba(128, 128, 128, 0.329);
    font-size: 18px;
    width: 80%;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    padding: 6px 12px;
    outline:none;
}
.valuation-form form textarea
{
    height: 110px;
}
#submitBtn
{
    background-color: rgb(242, 76, 76);
    color: black;
    cursor: pointer;
}
.valuationSection h1{
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media screen and (max-width:1100px)
{
    .valuationSection
    {
        width: 60%;
    }
    .valuation-form form input,
    .valuation-form form textarea
    {
        width:90%;
    }
}
@media screen and (max-width:600px)
{
    .valuationSection
    {
        width: 80%;
        height: 750px;
    }
    .valuation-form form input,
    .valuation-form form textarea
    {
        width:95%;
    }
}